<template>
  <div class="todo-wrapper">
    <!-- button to delete only 1 todo item -->
    <div class="todo-item-wrapper">
      <span
        v-on:click="todoItemCompleted(item.id)"
        :class="`todo-item ${checkToSeeIfToDoIsCompleted(item)}`"
        >{{ item.name }} - {{ item.completed }} -
        {{ new Date(item.timeItWasCreated) }}</span
      >
    </div>
    <div class="todo-delete-button-wrapper">
      <button
        v-on:click="deleteButtonWasClicked(item.id)"
        class="todo-delete-button"
      >
        Delete {{ item.name }}
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "TodoItem",
  props: ["item"],
  methods: {
    todoItemCompleted(id) {
      this.$emit("todoItemCompleted", id);
    },
    deleteButtonWasClicked(id) {
      this.$emit("deleteGivenTodo", id);
    },
    checkToSeeIfToDoIsCompleted(item) {
      if (item.completed === true) {
        return "todo-completed";
      }
      return "";
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.todo-item {
  background-color: #ffffff;
  color: orange;
  cursor: pointer;
}
.todo-delete-button-wrapper {
  padding-left: 16px;
  display: inline-block;
}
.todo-item-wrapper {
  display: inline-block;
}
.todo-wrapper {
  padding-top: 16px;
}
.todo-completed {
  text-decoration: line-through;
}
</style>
